/* Category Styles */
.category-grid {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 1400px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.category-card {
    max-width: 200px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 2px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-card.active {
    border-color: #3498db;
    background-color: #f0f8ff;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(52, 152, 219, 0.2);
}

.category-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    padding: 1px;
    margin: 1px;
    margin-bottom: 0.5rem;
}

.category-title {
    font-size: 16px;
    text-align: center;
    padding: 8px;
    color: #333;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    font-style: normal;
}
