.game-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Center the iframe vertically */
    flex-direction: column; /*To stack the iframe and title*/
    margin-top: -10px; /* Negative margin to move it up */
    height: 100%;
}

.game-iframe {
    width: 100%; /* Use full width of the container */
    height: 650px; /* Increased height */
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.game-title {
    text-align: center;
    margin-top: 15px; /* Space between the iframe and title */
    font-size: 2.3em;
    font-style: initial;
    font-weight: bold;
    color: #333;
    background: transparent; /*Set to transparent*/
}
