.game-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    gap: 15px;
    list-style-type: none; /* Removes bullet points */
    padding: 0;
}

.dummy {
    width: 100px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 0px;
}

.game-sidebar-card {
    border-radius: 10px;
    padding: 0px;
    text-align: center;
    cursor: pointer;
}

.game-sidebar-image {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 0px;
}
