.home-page {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* background: linear-gradient(to right, #6ed9ff, #6ed9ff); */
    background-image: url("https://a.poki-cdn.com/images/bg-diamante.svg"),
        linear-gradient(to bottom, #06d6a0, #00f5d4); /* Replace with your image path */
    min-height: 100vh; /* Ensure full viewport height */
    padding-bottom: 1px; /* Minimal padding at bottom to potentially help with edge cases */
    box-sizing: border-box; /* Include padding in total height */
}

.grid-container {
    margin: 0;
}

.homeCard {
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 160px;
    margin-bottom: 10px;
    top: 2rem;
    padding: 0;
}

.dimmedContent {
    background-color: #5d6b84;
    bottom: 0;
    left: 0;
    mix-blend-mode: multiply;
    opacity: 0.9;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
}
