.home-page {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(to right, #6ed9ff, #6ed9ff); */
    background-image: url("https://a.poki-cdn.com/images/bg-diamante.svg"),
        linear-gradient(to bottom, #06d6a0, #00f5d4); /* Replace with your image path */
    min-height: 100vh; /* Ensure full viewport height */
    padding-bottom: 1px; /* Minimal padding at bottom to potentially help with edge cases */
    box-sizing: border-box; /* Include padding in total height */
}

@media (min-width: 1600px) {
    .grid-container {
        padding-left: 10rem;
    }
}

.dimmedContent {
    background-color: #5d6b84;
    bottom: 0;
    left: 0;
    mix-blend-mode: multiply;
    opacity: 0.9;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
}
