.home-card {
    width: 162px;
    height: 135px;
    align-items: center;
    background: white;
    border-radius: 16px;
    box-shadow: var(--shadow-mid);
    display: flex;
    flex-direction: column;
    color: #004e98;
    position: fixed;
    top: 1.25rem;
    z-index: 5;
}

.korgi-title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    font-weight: bold;
    padding: 10px 10px;
    border-bottom: 1px solid black;
}

.icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.home-icon,
.search-icon {
    width: 100%;
    font-size: 35px;
    padding: 15px 20px;
    color: #004e98;
    transition: color 0.3s;
}

.home-icon:hover,
.search-icon:hover {
    background-color: #a2d2ff;
}

.home-icon {
    border-bottom-left-radius: 16px;
    border-right: 0.5px solid black;
}

.search-icon {
    border-bottom-right-radius: 16px;
    border-left: 0.5px solid black;
}

.searchIcon {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.searchIcon:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

/* .sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

.sidebar.open {
    left: 0;
}

.sidebarContent {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.closeButton {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.closeButton:hover {
    color: #ff0000;
}

.searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 15px;
}

.searchInput:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.warning {
    color: #ff4444;
    font-size: 0.9rem;
    margin-top: -10px;
    margin-bottom: 15px;
} */

@media (max-width: 1350px) {
    .home-card {
        width: 100%;
        max-width: 9.3rem;
        max-height: 8rem;
        top: 1.2rem;
        box-shadow: var(--shadow-light);
        justify-content: space-between;
        align-items: center;
    }

    .korgi-title {
        text-align: center;
    }

    .icon-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .home-icon,
    .search-icon {
        width: 100%;
        height: 100%;
        font-size: 2rem;
        padding: 4px 15px;
    }
}

@media (max-width: 1150px) {
    .home-card {
        width: 100%;
        max-width: 7.8rem;
        max-height: 6.5rem;
        top: 1.2rem;
        box-shadow: var(--shadow-light);
        justify-content: space-between;
        align-items: center;
    }

    .korgi-title {
        text-align: center;
    }

    .icon-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .home-icon,
    .search-icon {
        width: 100%;
        height: 100%;
        font-size: 2rem;
        padding: 4px 15px;
    }
}

@media (max-width: 1000px) {
    .home-card {
        width: 100%;
        height: 100%;
        top: 1.2rem;
        box-shadow: var(--shadow-light);
        justify-content: space-between; /* Push items to each end */
        align-items: center; /* Center vertically */
    }

    .korgi-title {
        font-size: 30px;
        flex-grow: 1; /* Take up remaining space */
        text-align: center;
        padding: 8px 12px;
    }

    .icon-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .home-icon,
    .search-icon {
        font-size: 28px;
        padding: 8px 10px;
    }
}

@media (max-width: 780px) {
    .home-card {
        width: 100%;
        max-width: fit-content;
        height: auto;
        top: 1rem;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        justify-content: space-between;
        position: sticky;
        padding: 5px 10px;
        gap: 10px;
        box-sizing: content-box;
        margin-bottom: 10px;
    }

    .korgi-title {
        width: 30%;
        max-width: 30%;
        text-align: center;
        border: 0;
        padding: 0;
    }

    .icon-container {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
    }

    .home-icon,
    .search-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        /* padding: 8px 10px; */
    }

    .home-icon {
        border-top-left-radius: 16px;
    }

    .search-icon {
        border-top-right-radius: 16px;
    }
}
