/* CategoryBanner.css */
.category-banner {
    background-color: white; /* White background */
    color: #333; /* Text */
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}