/* GamePage.css */
.game-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #6ed9ff, #bdf8f2);
    min-height: 100vh;
    padding: 20px;
}

.game-layout {
    display: grid;
    grid-template-columns: 180px 1fr 180px; /* Increased sidebar width */
    gap: 20px; /* Space between elements */
    width: 90%;
    max-width: 1400px;
    margin-bottom: 0px; /* Reduced margin */
    align-items: start; /* Align items at the start of the cell */
}
