.game-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://a.poki-cdn.com/images/bg-diamante.svg"),
        linear-gradient(to bottom, #06d6a0, #00f5d4); /* Replace with your image path */
    min-height: 100vh;
    padding: 20px;
    padding-top: 2rem;
}

.game-layout {
    display: grid;
    grid-template-columns: 160px 1fr 160px;
    gap: 20px;
    width: 90%;
    max-width: 1400px;
    margin-bottom: 20px;
    align-items: center;
}

.dimmedContent {
    background-color: #5d6b84;
    bottom: 0;
    left: 0;
    mix-blend-mode: multiply;
    opacity: 0.9;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
}
