/* App.css */
.app {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url("https://a.poki-cdn.com/images/bg-diamante.svg");
}
