.home-card {
    margin-top: 1rem;
    width: 150px;
    height: 150px;
    align-items: center;
    background: #fff;
    border-radius: 16px;
    box-shadow: var(--shadow-mid);
    display: flex;
    flex-direction: column;
    background: white;
    color: #004e98;
    z-index: 1000;
    position: fixed;
    top: 1%;
    left: 9.25%;
}

/* Title styles */
.korgi-title {
    width: 100%;
    height: 50%;
    font-weight: bold;
    padding: 6px 15px;
    border-bottom: 1px solid black;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 50px;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Icon container styles */
.icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* Icon styles */
.home-icon,
.search-icon {
    font-size: 35px;
    padding: 15px 20px;
    color: #004e98;
    transition: color 0.3s;
}

.home-icon:hover,
.search-icon:hover {
    background-color: #a2d2ff;
}

.home-icon {
    border-bottom-left-radius: 16px;
    border-right: 0.5px solid black;
}

.search-icon {
    border-bottom-right-radius: 16px;
    border-left: 0.5px solid black;
}
