.noResultPage {
    width: 100%;
    max-width: 1000px;
    grid-column: span 4;
    padding: 40px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.noResultHeader {
    font-size: 35px;
    margin-bottom: 10px;
    color: #333;
    font-family: "Sour Gummy", "sans-serif";
    font-weight: 500;
    font-style: "normal";
}

.noResultText {
    font-size: 15px;
    color: #777;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
    font-style: "normal";
}

/* Adjust layout for smaller screens */
@media (max-width: 768px) {
    .noResultPage {
        padding: 30px;
        grid-column: span 2;
    }

    .noResultHeader {
        font-size: 28px; /* Reduce header size */
    }

    .noResultText {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .noResultPage {
        padding: 20px;
        grid-column: span 1;
    }

    .noResultHeader {
        font-size: 24px;
    }

    .noResultText {
        font-size: 13px;
    }
}
