
.error-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://a.poki-cdn.com/images/bg-diamante.svg");
    background-color: #caf0f8;
}

.error-title {
    font-size: 6rem;
    font-weight: bold;
    color: #1f2937;
    margin: 0;
}

.error-message {
    font-size: 1.5rem;
    color: #4b5563;
    margin: 16px 0;
}

.home-link {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #3b82f6;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.home-link:hover {
    background-color: #2563eb;
}
